{# src/Najdah/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block menu_Etablissements %}<span class="selected"></span>{% endblock %}
{% block menu_Etablissements_active %}active{% endblock %}

{% block sub_menu %}
{#
    <li class="last "><a href="{{ path('etab_index') }}">
         <i class="icon-bar-chart"></i><span class="title">Etablissements</span>
    </a></li>
#}
{% endblock %}

{% block body_app %}
             
{% endblock %}