{# src/Najdah/EtabBundle/Resources/views/Etablissement/ajouter.html.twig #}

{% extends "NajdahAppBundle::layout.html.twig" %}

{% block body_app %}
    <h2>Afficher :</h2>
	
    {% include "NajdahEtabBundle:Etablissement:formulaire.html.twig" %}
{% endblock %}