{# src/Najdah/EtabBundle/Resources/views/Etablissement/modifier.html.twig #}

{% extends "NajdahAppBundle::layout.html.twig" %}


{% block body_app %}
    <h2>Modifier :</h2>
	
    {% include "NajdahEtabBundle:Etablissement:formulaire.html.twig" %}
{% endblock %}
    
