{% extends "NajdahAppBundle::layout.html.twig" %}

{% block title %}Acceuil - {{ parent() }}{% endblock %}

{% block menu_Acceuil %}<span class="selected"></span>{% endblock %}
{% block menu_Acceuil_active %}active{% endblock %}

{% block body_app %}
{#{{ var|trans }}#}

{% endblock %}
