{# src/Najdah/UserBundle/Resources/views/User/ajouter.html.twig #}

{% extends "NajdahUserBundle::layout.html.twig" %}

{% block body_userBundle %}
    <h2>Afficher :</h2>
	
    {% include "NajdahUserBundle:User:formulaire.html.twig" %}
{% endblock %}
